/* CSS Variables */
:root {
    --prim1: #2d283E;
    --prim2: #494949;
    --white: #ffffff;
    --black: #000000;
    --bluetext: #1762A7;
    --pinktext: #BC3A80;
    --boxbg: #D1E0ED;
    --shadow: 5px 5px 5px #000000
}

/* Global Elements */
body {
    background-image: linear-gradient(var(--prim1), var(--prim2));
    font-family: helvetica, sans-serif;
    font-size: 16px;
    color: var(--white);
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

ul {
    list-style-type: none;
    padding: 0px;
}

button {
    background: transparent;
    color: var(--white);
    font-size: 1em;
    border: 0px;
    
}

h1 {
    font-size: 2em;
    color: var(--bluetext);
}

h2 {
    font-size: 1.8em;
    color: var(--bluetext);
}

.sectionTitle h2 {
    color: var(--white);
    text-transform: uppercase;
}

h3 {
    font-size: 1.5em;
    color: var(--pinktext);
}

 strong {
     color: var(--pinktext);
}

b {
    font-size: 1.5em;
    padding: 0px 5px 0px 0px;
}
/* .mainWrapper {
    
} */

/* Sidebar Elements */
#sidebar {
    width: 300px;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

#topContainer {
    height: 65vh;
    display: flex;
    flex-flow: column nowrap;
    margin: 30px 0px;
    justify-content: space-between;
    align-items: center;
}

#intro {
    font-size: 1.2em;
}

#intro p {
    margin: 0px;
}

#navIcons {
    
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#navBox {
    margin: 0px 10px;
}

#navLinks {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

#navLinks ul{
    margin: 0px;
    padding: 0px;
    height: 275px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#link {
    width: 150px;
    height: 30px;
    padding: 2px 0px;
    text-align: left;
}

button:hover {
    font-size: 1.2em;
}



/* Main Section Elements */
#main {
    display: grid;
    grid-template-columns: 300px auto;
    width: 100vw;
}

.wrapper {
    grid-column-start: 2;
    min-width: 400px;
    width: 100%;
    color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
        
}

#showcase {
    min-height: 400px;
    height: 50vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bgImage {
    position: absolute;
    left: 300px;
    top: 0px;
    min-width: 400px;
    min-height: 400px;
    width: 100%;
    height: 50vh;
    background: url(img/showcase.png) center no-repeat;
    background-size: cover;    
}

.textWrapper{
    height: 40vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#showcase h1{
    z-index: 2;
}

#showcase h2{
    z-index: 2;
    text-align: end;
}

.sectionTitle {
    text-transform: uppercase;
    background-color: transparent;
    width: 90%;

}

#main section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
}

#aboutMe {
    min-height: 600px;
}

.sectionWrapper {
    width: 80%;

}










