/* CSS Variables */
:root {
    --prim1: #2d283E;
    --prim2: #494949;
    --white: #eeeeee;
    --black: #000000;
    --buttontext: #cccccc;
    --bluetext: #1762A7;
    --pinktext: #BC3A80;
    --boxbg: #D1E0ED;
    --scol: rgba(45, 40, 62, 0.3);
    --shadow: 0px 0px 10px var(--scol);
    --textshadow: -0px -0px 0 #ccc, 1px -1px 0 #ccc, -1px 1px 0 #ccc, 0px 0px 0 #ccc;
}

/* -1px -1px 0 #ccc, 1px -1px 0 #ccc, -1px 1px 0 #ccc, 1px 1px 0 #ccc; */

/* Global Elements */
body {
    background-image: linear-gradient(var(--prim1), var(--prim2));
    font-family: helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: var(--white);
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

ul {
    list-style-type: none;
    padding: 0px;
}

button {
    background: transparent;
    color: var(--buttontext);
    font-size: 1em;
    border: 0px;
    
}

h1 {
    font-size: 2em;
    color: var(--bluetext);
}

h2 {
    font-size: 1.8em;
    color: var(--bluetext);
}

.sectionTitle h2 {
    color: var(--white);
    text-transform: uppercase;
}

h3 {
    font-size: 1.5em;
    color: var(--pinktext);
}

 strong {
     color: var(--pinktext);
}

b {
    font-size: 1.5em;
    padding: 0px 5px 0px 0px;
}

/* Sidebar Elements */
#sidebar {
    width: 300px;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

#topContainer {
    height: 65vh;
    display: flex;
    flex-flow: column nowrap;
    margin: 30px 0px;
    justify-content: space-between;
    align-items: center;
}

#portraitBox {
    margin: 10px 0px;
}

#intro {
    font-size: 1.2em;
    margin: 10px 0px;
}

#intro p {
    margin: 0px;
}

.smallScreen {
    display: none;
}

.largeScreen {
    display: inline-block;
}

#navIcons {
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
}

#menuIcon:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
    cursor: pointer;
}

.navIcon:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
    cursor: pointer;
}

.navBox {
    margin: 0px 10px;
}

#navLinks {
    width: 150px;
    margin: 10px 0px;
}

#navLinks ul{
    margin: 0px;
    padding: 0px;
    height: 275px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#menu #menuIcon {
    display: none;
}

.link {
    width: 150px;
    height: 30px;
    padding: 2px 0px;
    text-align: center;
}

button:hover {
    transform: translateX(10px);
    transition: all 0.3s ease;
    cursor: pointer;
}

#bottomContainer p {
    font-size: 0.6em;
}


/* Main Section Elements */
#main {
    width: 100%;
    display: grid;
    grid-template-columns: 300px auto;
}

.wrapper {
    grid-column-start: 2;
    min-width: 400px;
    width: 100%;
    color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
        
}

#showcase {
    min-height: 400px;
    height: 100vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bgImage {
    position: absolute;
    left: 300px;
    top: 0px;
    min-width: 400px;
    min-height: 400px;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6)), url(img/showcase.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.95;
}

.textWrapper{
    height: 95vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* #showcase h1{
    z-index: 2;
    text-shadow: var(--textshadow);
} */

#showcase h2{
    z-index: 2;
    text-align: start;
    /* text-shadow: var(--textshadow); */
}

.sectionTitle {
    text-transform: uppercase;
    background-color: transparent;
    width: 90%;
    height: 10vh;
    max-height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#main section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
}

/* About Me */

#aboutMe {
    max-height: fit-content;
}

#aboutMe p {
    padding-bottom: 20px;
}

.sectionWrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
    height: fit-content;
}

.sectionWrapper h3{
    width: 100%;
    text-align: left;
}

#recruitMe {
    color: var(--black);
    width: 80%;
    max-width: 350px;
    min-height: 40px;
    background-color: var(--boxbg);
    margin-bottom: 40px;
    border-radius: 5px;
    box-shadow: var(--shadow);
}

#recruitMe:hover {
    transform: scale(1.2);
    transition: all 0.3s ease;
    cursor: pointer;
}

/* Projects */

.gridBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-content: center;
    width: 100%;
}

.projectBox {
    min-width: 300px;
    min-height: 300px;
    background-color: var(--boxbg);
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}

.projectBox h4 {
    margin: 5px 10px;
    padding: 0px;
    color: var(--pinktext);
}

.projectBox p{
    margin: 5px 10px;
    padding-bottom: 10px;
}

.projectImage {
    width: 100%;
    height: 80%;
    min-height: 200px;
}


#pImg1 {
    background: url('./img/project1.jpg') center no-repeat;
    background-size: cover;
}

#pImg2 {
    background: url('./img/project2.jpg') center no-repeat;
    background-size: cover;
}

#pImg3 {
    background: url('./img/project3.jpg') center no-repeat;
    background-size: cover;
}

#pImg4 {
    background: url('./img/project4.jpg') center no-repeat;
    background-size: cover;
}

/* Experience */

.timelineBox { 
    width: 100%;
    margin: 40px 0px; 
    height: fit-content;
    overflow-y: hidden;
    padding: 40px 20px 20px;
}

.arrow {
    position: relative;
    padding-right: 10px;
}

.arrowHead {
    width: 30px;
    position: absolute;
    left: -15px;
    top: -85px;
}

#expArrow1 {
    width: 10px;
    height: 850px;
    position: absolute;
    top: -80px;
    left: -5px;
    z-index: 2;
}

#expArrow2 {
    width: 10px;
    height: 500px;
    position: absolute;
    top: -340px;
    left: -5px;
    z-index: 2;
}

.bottomArrow {
    overflow-y: hidden;
}

.expWrapper {
    height: fit-content;
    width: 100%;
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.expBox {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--boxbg);
    box-shadow: var(--shadow);
}

.expBox h4 {
    font-size: 0.9em;
}

.topBox {
    position: relative;
}

.date {
    min-width: 90px;
    padding: 0px 5px;
    width: 10%;
}

.expContent {
    width: 80%;
}

#skill {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    justify-content: center;
    width: 100%;
}


.skillBox {
    background-color: var(--boxbg);
    box-shadow: var(--shadow);
    padding: 10px;
    min-width: 140px;
}

.skillIcons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.skillIcon {
    height: 40px;
    width: 40px;
    margin: 0px 5px;
}

.skillTitle {
    font-size: 1.2em;
    color: var(--pinktext);
}

#eduArrowHead {
    top: -80px;
}

#eduArrow1 {
    width: 10px;
    height: 250px;
    position: absolute;
    top: -70px;
    left: -5px;
    z-index: 2;
}

#eduArrow2 {
    width: 10px;
    height: 250px;
    position: absolute;
    top: -100px;
    left: -5px;
    z-index: 2;
}

.eduWrapper {
    height: fit-content;
    width: 100%;
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#fm1 {
    background: url('./img/fm1-fs.jpg') center no-repeat;
    background-size: cover;
}

#fm2 {
    background: url('./img/fm2-fs.jpg') center no-repeat;
    background-size: cover;
}

#fm3 {
    background: url('./img/fm3-fs.jpg') center no-repeat;
    background-size: cover;
}

#fm4 {
    background: url('./img/fm4-fs.jpg') center no-repeat;
    background-size: cover;
}

/* Media Queries */

/* Tablet Size Responsiveness */

@media(min-width: 660px) and (max-width: 1024px) {
       
    #sidebar {
        width: 100vw;
        height: 150px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 4;
    } 

    #topContainer {
        height: 150px;
        width: 100%;
        display: grid;
        grid-template-areas: 
        "portrait portrait intro intro intro intro"
        "navLinks navLinks navLinks navLinks navLinks navIcons";
        box-sizing: border-box;
        gap: 0px;
        padding: 10px;
        margin: 0px;
    }

    #portraitBox {
        grid-area: portrait;
    }

    #portrait {
        width: 70px;
        height: 75px;
    }

    #intro {
        grid-area: intro;
        text-align: left;
    }

    #intro strong {
        font-size: 2.5vw;
    }

    #intro p {
        font-size: 2vw;
    }

    .largeScreen {
        display: none;
    }

    .smallScreen {
        display: inline-block;
    }

    #navIcons {
        grid-area: navIcons;
        width: 80px;
        margin: 0px 15px;
    }

    .navBox {
        padding: 0px;
        margin: 0px 5px;
    }

    .navIcon {
        height: 20px;
        width: 20px;
    }

    #navLinks {
        height: 30px;
        width: auto;
        grid-area: navLinks;
    }

    .link {
        width: auto;
        height: 30px;
        padding: 2px 0px;
        margin: 0px 5px;
        font-size: 1.7vw;
        text-align: center;
    }

    button:hover {
        transform: translateX(3px);
        
    }

    
    #navLinks ul {
        flex-direction: row;
        justify-items: center;
        height: 30px;
    }

    #bottomContainer {
        display: none;
    }
    

    #main {
        grid-template-columns: auto 0px;
        grid-template-rows: 150px auto;
        position: relative;
        top: 0;
        left: 0;
    }
    
    .window {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        grid-row-start: 1;
        grid-column-start: 1;
        }

    #sbBG {
        height: 150px;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;
        overflow-y: scroll;
        overflow-x: hidden;
        -ms-overflow-style: none;
        scrollbar-width: none;
        background: transparent;
    }

    #sbBG::-webkit-scrollbar{
        display: none;
    }

    .wrapper {
        position: relative;
        grid-column-start: 1;
        grid-row-start: 2; 
        top: 0;
        left: 0;      
    }

    #showcase {
        height: 85vh;
    }

    .bgImage {
        height: 85vh;
        left: 0;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6)), url(img/showcase.png);
        background-position: left;
    }
    
    #showcase h1{
     z-index: -1;
    }

    .sectionWrapper h3{
        display: none;
    }

    #eduArrowHead {
        top: -110px;
    }

    #eduArrow1 {
        top: -100px;

    }
}

/*

*/

/* Skill Boxes Responsiveness */

@media screen and (min-width: 660px) and (max-width: 1300px) {

    #skill {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
}

/* Mobile Size Responsiveness */

@media screen and (max-width: 659px) {

/* Skill Boxes Responsiveness on Mobile */        
    #skill {
        grid-template-columns: repeat(1, 1fr);
    }

    #sidebar {
        width: 100vw;
        height: 100px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 4;
    } 

    #topContainer {
        height: 100px;
        width: 100%;
        display: grid;
        grid-template-areas: 
        "portrait intro intro intro intro"
        "navIcons navIcons blank1 blank2 blank3";
        box-sizing: border-box;
        gap: 0px;
        padding: 10px 20px;
        margin: 0px;
    }

    #portraitBox {
        grid-area: portrait;
        width: 55px;
        margin: 0px;
    }

    #portrait {
        width: 50px;
        height: 55px;
    }

    #intro {
        grid-area: intro;
        text-align: left;
        margin: 0px;
    }

    #intro strong {
        font-size: 3vw;
    }
    
    #intro p {
        font-size: 2.25vw;
        line-height: 1.2;
    }
    
    .largeScreen {
        display: none;
    }
    
    .smallScreen {
        display: inline-block;
    }

    #navIcons {
        grid-area: navIcons;
        width: 80px;
        margin: 0px 15px;
    }
    
    .navBox {
        padding: 0px;
        margin: 0px 10px;
    }
    
    .navIcon {
        height: 20px;
        width: 20px;
    }

    #menu #menuIcon {
        display: inline-block;
        margin: 0px 10px;
    }

    /*  */
    
    #navLinks {
        position: absolute;
        top: 100px;
        left: 0px;
        width: 25vw;
        height: 50vh;
        background-color: #2d283e;
        margin: 0;
        transition: all 1s ease;
    }

    /* #navLinks li{
        display: none;
    } */

    #navLinks ul {
        height: 100%;
        justify-content: space-around;
    }

    /*  */

    .link, button {
        text-align: left;
        font-size: 2vw;
        padding-left: 10px;
    }

    #recruitMe {
        text-align: center;
    }
    

    #bottomContainer {
        display: none;
    }

    #main {
        grid-template-columns: auto 0px;
        grid-template-rows: 100px auto;
        position: relative;
        top: 0;
        left: 0;
    }
    
    .window {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        grid-row-start: 1;
        grid-column-start: 1;
        }
    
    #sbBG {
        height: 100px;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;
        overflow-y: scroll;
        overflow-x: hidden;
        -ms-overflow-style: none;
        scrollbar-width: none;
        background: transparent;
    }

    #sbBG::-webkit-scrollbar{
        display: none;
    }
    
    .wrapper {
        position: relative;
        grid-column-start: 1;
        grid-row-start: 2; 
        top: 150;
        left: 0;       
    }

    #showcase {
        height: 85vh;
    }

    .bgImage {
        left: 0;
        height: 85vh;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6)), url(img/showcase.png);
        background-position: left;
    }

    #showcase h1{
        z-index: -1;
    }

    .sectionWrapper h3{
        display: none;
    }

    .timelineBox { 
        margin: 40px 0px;
        height: fit-content; 
    }
    
    .arrow {
        position: relative;
        padding-right: 10px;
    }

    #expArrowHead {
        top: -110px;
    }
    
    #expArrow1 {
        height: 1200px;
        top: -100px;
    }
    
    #expArrow2 {
        height: 1000px;
        top: -330px;
    }
    
    .expWrapper {
        height: fit-content;
    }
   
    #eduArrow1 {
        height: 350px;
        top: -100px;
    }
    
    #eduArrow2 {
        height: 450px;
        top: -165px;
    }

    #eduArrowHead {
        top: -110px;
    }

    .eduWrapper {
        height: fit-content;
    }  

}

/* .gridBox Responsiveness */

@media screen and (max-width: 800px) {
    .gridBox {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Sidebar height fix */

@media screen and (max-height: 620px) {
    #bottomContainer {
        display: none;
    }
}

/* eduArrow tablet size fix */

@media screen and (min-width: 700px) and (max-width: 1030px) {
    #eduArrow1 {
        top: -70px;
    }

    #eduArrowHead {
        top: -80px;
    }
}

/* navActive class for sidebar menu toggle */
.navHide {
    transform: translateY(-100vh);
}